:root {
    --bg-color: #232323;
    --bg-card-color: #111111;
    --bg-footer-color: #000000;
    --header-text-color: #f1faee;
    --frontend-text-color: #e5e5e5;
    --text-color: #7a7a7a;
    --linkedin-color: #0a66c2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
}

body > div#root {
    background-color: var(--bg-card-color);
    text-align: center;
    max-width: 300px;
    max-height: 100vh;
    overflow-y: auto;
    border-radius: 10px;
}

body > div#root > section {
    margin-bottom: 20px;
}

body > div#root > section > h1,
body > div#root > section > h2 {
    color: var(--header-text-color);
    
}

body > div#root > section > h1 {
    text-align: left;
    padding-left: 30px;
}

body > div#root > section.info > h2 {
    margin-top: 15px;
}

body > div#root > section > h3 {
    color: var(--frontend-text-color);
    padding: 10px;
    margin-bottom: 10px;
}

body > div#root > section.info > div.image > img {
    width: 300px;
    height: 100%;
    max-height: 400px;
    object-fit: cover;
}

body > div#root > section.info > button {
    width: 120px;
    height: 32px;
    border: none;
    border-radius: 5px;
    color: var(--bg-color);
}

body > div#root > section.info > button:hover {
    cursor: pointer;
}

body > div#root > section.info > button.email-button {
    margin-right: 15px;
    background-color: var(--header-text-color);
    color: var(--bg-footer-color);
}

body > div#root > section.info > button.linkedin-button {
    background-color: var(--linkedin-color);
    color: var(--header-text-color);
}

body > div#root > section.info > button > svg {
    margin-right: 5px;
}

body > div#root > section > pre {
    color: var(--text-color);
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 10px;
}

body > div#root > footer {
    background-color: var(--bg-footer-color);
    margin-bottom: 0;
    padding: 10px;
}

body > div#root > footer > a > svg {
    margin-right: 15px;
}